<div id="<%= dom_id car %>">
  <p>
    <strong>Make:</strong>
    <%= car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Transmission:</strong>
    <%= car.transmission %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= car.fuel_type %>
  </p>

</div>
